.about-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-2xl;
  align-items: center;

  @include respond-to("md") {
    grid-template-columns: 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__title {
    font-size: 54px;
    font-weight: $font-weight-semibold;
    line-height: $line-height-tight;
    margin-bottom: $spacing-lg;
    letter-spacing: 6%;
  }

  &__image {
    border-radius: $radius-sm;
    aspect-ratio: 705 / 609;
    width: calc(50vw);
    margin-right: calc(-50vw + 50%);

    @include respond-to("md") {
      width: 100%;
      margin-right: 0;
      order: -1;
    }
  }

  &__image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
