.products-grid {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-lg;
    row-gap: $spacing-2xl;

    @include respond-to("lg") {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to("md") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("sm") {
      grid-template-columns: 1fr;
    }
  }

  &__footer {
    @include flex-center;
  }
}
