.about {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: $spacing-xl;

  &__stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-lg;

    @include respond-to("lg") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to("sm") {
      grid-template-columns: 1fr;
    }
  }
}
